force-app/main/default/flows/CloneFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ToClonedObject</name>
        <label>ToClonedObject</label>
        <locationX>1251</locationX>
        <locationY>688</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>NewLocker.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>record</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>AssignLockerValue</name>
        <label>AssignLockerValue</label>
        <locationX>849</locationX>
        <locationY>235</locationY>
        <assignmentItems>
            <assignToReference>GetLocker.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetLocker.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssingNewLocker</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssingNewCell</name>
        <label>AssingNewCell</label>
        <locationX>851</locationX>
        <locationY>868</locationY>
        <assignmentItems>
            <assignToReference>NewCell.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopCells.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCell.Position__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopCells.Position__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCell.Size__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopCells.Size__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCell.Availability__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Empty</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCell.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCell.ParcelLocker__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewLocker.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCell.Pin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>XXXXXX</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssisgnCellList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssingNewLocker</name>
        <label>AssingNewLocker</label>
        <locationX>844</locationX>
        <locationY>383</locationY>
        <assignmentItems>
            <assignToReference>NewLocker</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetLocker</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateLocker</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssisgnCellList</name>
        <label>AssisgnCellList</label>
        <locationX>617</locationX>
        <locationY>868</locationY>
        <assignmentItems>
            <assignToReference>CellList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewCell</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopCells</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>CloneFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CloneFlow</label>
    <loops>
        <name>LoopCells</name>
        <label>LoopCells</label>
        <locationX>849</locationX>
        <locationY>667</locationY>
        <collectionReference>GetCells</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssingNewCell</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateCell</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateCell</name>
        <label>CreateCell</label>
        <locationX>1097</locationX>
        <locationY>666</locationY>
        <connector>
            <targetReference>ToClonedObject</targetReference>
        </connector>
        <inputReference>CellList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateLocker</name>
        <label>CreateLocker</label>
        <locationX>575</locationX>
        <locationY>403</locationY>
        <connector>
            <targetReference>GetCells</targetReference>
        </connector>
        <inputReference>NewLocker</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetCells</name>
        <label>GetCells</label>
        <locationX>575</locationX>
        <locationY>659</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopCells</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParcelLocker__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cell__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetLocker</name>
        <label>GetLocker</label>
        <locationX>669</locationX>
        <locationY>302</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Clone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ParcelLocker__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Clone</name>
        <label>Clone</label>
        <locationX>757</locationX>
        <locationY>142</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignLockerValue</targetReference>
        </connector>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetLocker.Name</elementReference>
            </defaultValue>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetLocker</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CellList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cell__c</objectType>
    </variables>
    <variables>
        <name>CellOrderList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CellOrder__c</objectType>
    </variables>
    <variables>
        <name>NewCell</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cell__c</objectType>
    </variables>
    <variables>
        <name>NewCellOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CellOrder__c</objectType>
    </variables>
    <variables>
        <name>NewLocker</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ParcelLocker__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
